@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: darkblue;
  --hoverColor: lightblue;
  --bgColor: white;
  --textSecondary: darkslategray;
}
body {
  margin: 0;
  background: whitesmoke;
}

.blured-bg {
  background: linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)
  );
}

.small-sidebar {
  background: linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)
  );
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 6px;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 70px;
  height: 70px;
  margin: auto;
  border: 5px solid var(--primary);
  border-top-color: white;
  border-radius: 50%;
  animation: spinner 0.5s linear infinite;
}
